* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  outline: 1px solid #000;
  padding: 100px 0;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 5px 5px 0 0 blue, 10px 10px 0 0 red, 15px 15px 0 0 yellow,
    20px 20px 0 0 pink, -5px -5px 0 0 blue, -10px -10px 0 0 red,
    -15px -15px 0 0 yellow, -20px -20px 0 0 pink;
  /* box-shadow: inset 0 0 5px 0 red; */
}

.text {
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 2px red;
}

/* 
- box-shadow: x-offset y-offset blur spread color;
- box-shadow: inset x-offset y-offset blur spread color;
- text-shadow x-offset y-offset blur color;
*/
