/* ABOUT US */

.about-us-list {
  display: flex;
  margin-right: 64px;
}

.about-us-text-content {
  max-width: 474px;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $text-light-theme-color;
  margin-bottom: 40px;
}
