/* HEADER */
.header {
  position: absolute;
  width: 100%;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .address {
    margin-right: 40px;
  }
}

.header-utils {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
  animation-duration: 2000ms;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list-link,
.header-tel-link,
.contact-form-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: $accent-color;
}

.navigation-list-link {
  @extend %font-for-links-and-btn;
  position: relative;
  padding-top: 52px;
  padding-bottom: 52px;
  color: #fff;
  transition: color 250ms linear;
}

.header-tel-link {
  @extend %font-for-links-and-btn;
  text-transform: uppercase;
  color: #fff;
  transition: color 250ms linear;
}

.contact-form-btn {
  @extend %font-for-links-and-btn;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: $modal-btn-dark-theme-color;
  transition: background-color 250ms linear, color 250ms linear;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: $accent-color;
  color: #ffffff;
}
