.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  &-light-theme {
    color: $text-light-theme-color;
  }

  &-dark-theme {
    color: $text-dark-theme-color;
  }

  .about-us & {
    margin-bottom: 20px;
  }
}
