.title {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 44px;

  .why-are-we &,
  .about-us & {
    margin-bottom: 20px;
  }

  &-dark-theme {
    color: $title-dark-theme-color;
  }

  &-light-theme {
    color: $title-light-theme-color;
  }
}
